<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>博客</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script th:src="@{/js/myjs.js}"></script>
</head>
<body>
<div class="container">
    <!--    头-->
    <top-header id="top-header"></top-header>
    <div class="row clearfix">
        <div class="col-md-1 column">
            <ul class="nav nav-stacked nav-pills">
                <li class="active">
                    <a href="#">全部</a>
                </li>
                <li>
                    <a href="#">Java</a>
                </li>
                <li>
                    <a href="#">Python</a>
                </li>
                <li>
                    <a href="#">C#</a>
                </li>
                <li>
                    <a href="#">Go</a>
                </li>
            </ul>
        </div>
        <div class="col-md-9 column">
            <ul class="list-unstyled">
                <!--            ==文章==    -->
                <li class="panel-footer">
                    <a href="#">
                    <span>
                        <h4>
                            <b>文章题目</b>
                            <a class="btn navbar-right" href="#" style="margin-right: 0px">举报</a>
                        </h4>
                        <p>
                            <font color="#a9a9a9">文章内容一小部分Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</font>
                            </br>
                            <span class="navbar-left">
                                2021/1/20 15:50
                            </span>
                            <span class="navbar-right">
                                观看：100 | 点赞：100 | 评论：100
                            </span>
                        </p>
                    </span>
                    </a>
                </li>
                <!--            ==文章==    -->
            </ul>
            <nav style="text-align: center;">
                <ul class="pagination">
                    <li>
                        <a href="#">Prev</a>
                    </li>
                    <li>
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-md-2 column">
            <weather id="weather"></weather>
        </div>
    </div>
</div>
</body>
</html>