<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>消息</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script th:src="@{/js/myjs.js}"></script>
</head>
<body>
<div class="container">
    <top-header id="top-header"></top-header>
    <div class="row clearfix">
        <div class="col-md-1 column">
            <ul class="nav nav-stacked nav-pills">
                <li>
                    <h4><a href="#">消息：</a></h4>
                </li>
            </ul>
        </div>
        <div class="col-md-9 column">
            <ul class="list-unstyled">
                <li class="panel-footer">
                    <a href="#">
                    <span>
                        <h4>
<!--                            msg-->
                            <a>系统</a>的消息
                            <a class="btn navbar-right" href="#" style="margin-right: 0px">删除</a>
                        </h4>
                        <p>
<!--                            消息体-->
                            <font color="#a9a9a9">你的博客有问题</font>
                            </br>
                            <span class="navbar-left">
                                2021/1/20 15:50
                            </span>
                        </p>
                    </span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-2 column">
            <weather id="weather"></weather>
        </div>
    </div>
</div>
</body>
</html>