<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户主页</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script th:src="@{/js/myjs.js}"></script>
</head>
<body>
<div class="container">
    <top-header id="top-header"></top-header>
    <div class="row clearfix">
        <div class="col-md-3 column">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img alt="32x32" th:src="@{/img/222.png}" class="img-circle" height="32" width="32"/>
                    <b>老子大过天</b>
                    <span>&nbsp;&nbsp;<font color="navy">教师</font></span>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <td>
                                <b>博客</b>
                            </td>
                            <td>
                                <b>访问</b>
                            </td>
                            <td>
                                <b>标签</b>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <i>4</i>
                            </td>
                            <td>
                                <i>300</i>
                            </td>
                            <td>
                                <i>网站创始人</i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>粉丝</b>
                            </td>
                            <td>
                                <b>获赞</b>
                            </td>
                            <td>
                                <b>收藏</b>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <i>4</i>
                            </td>
                            <td>
                                <i>14</i>
                            </td>
                            <td>
                                <i>1</i>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <weather id="weather"></weather>
        </div>
        <div class="col-md-9 column">
            <ul class="nav nav-tabs">
                <li id="1" class="active">
                    <a href="#">博客</a>
                </li>
                <li id="2">
                    <a href="#">问答</a>
                </li>
                <li id="3">
                    <a href="#">收藏</a>
                </li>
                <li id="4">
                    <a href="#">关注</a>
                </li>
            </ul>
            <ul class="list-unstyled">
                <!--            ==文章==    -->
                <li class="panel-footer">
                    <a href="#">
                    <span>
                        <h4>
                            <b>文章题目</b>
                            <a class="btn navbar-right" href="#" style="margin-right: 0px">举报</a>
                        </h4>
                        <p>
                            <font color="#a9a9a9">文章内容一小部分Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</font>
                            </br>
                            <span class="navbar-left">
                                2021/1/20 15:50
                            </span>
                            <span class="navbar-right">
                                观看：100 | 点赞：100 | 评论：100
                            </span>
                        </p>
                    </span>
                    </a>
                </li>
                <!--            ==文章==    -->
            </ul>
        </div>
    </div>
</div>
</body>
</html>