<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wangjing921.mapper.LreportMapper">
  <resultMap id="BaseResultMap" type="cn.wangjing921.domain.po.Lreport">
    <id column="lreportid" jdbcType="INTEGER" property="lreportid" />
    <result column="lreportmsg" jdbcType="VARCHAR" property="lreportmsg" />
    <result column="toblogid" jdbcType="INTEGER" property="toblogid" />
    <result column="fromuid" jdbcType="INTEGER" property="fromuid" />
    <result column="sendtime" jdbcType="TIMESTAMP" property="sendtime" />
    <result column="lreporttype" jdbcType="INTEGER" property="lreporttype" />
    <result column="state" jdbcType="INTEGER" property="state" javaType="cn.wangjing921.custenum.domainTypeEnum.ReportStateEnum" typeHandler="cn.wangjing921.custenum.baseEnum.IBaseEnumHandler" />
    <result column="return_msg" jdbcType="VARCHAR" property="returnMsg" />
  </resultMap>
  <sql id="Base_Column_List">
    lreportid, lreportmsg, toblogid, fromuid, sendtime, lreporttype, `state`, return_msg
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from lreport
    where lreportid = #{lreportid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from lreport
    where lreportid = #{lreportid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="lreportid" keyProperty="lreportid" parameterType="cn.wangjing921.domain.po.Lreport" useGeneratedKeys="true">
    insert into lreport (lreportmsg, toblogid, fromuid,
                         sendtime, lreporttype, `state`,
                         return_msg)
    values (#{lreportmsg,jdbcType=VARCHAR}, #{toblogid,jdbcType=INTEGER}, #{fromuid,jdbcType=INTEGER},
            #{sendtime,jdbcType=TIMESTAMP}, #{lreporttype,jdbcType=INTEGER}, #{state,jdbcType=INTEGER,typeHandler=cn.wangjing921.custenum.baseEnum.IBaseEnumHandler},
            #{returnMsg,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="lreportid" keyProperty="lreportid" parameterType="cn.wangjing921.domain.po.Lreport" useGeneratedKeys="true">
    insert into lreport
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="lreportmsg != null">
        lreportmsg,
      </if>
      <if test="toblogid != null">
        toblogid,
      </if>
      <if test="fromuid != null">
        fromuid,
      </if>
      <if test="sendtime != null">
        sendtime,
      </if>
      <if test="lreporttype != null">
        lreporttype,
      </if>
      <if test="state != null">
        `state`,
      </if>
      <if test="returnMsg != null">
        return_msg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="lreportmsg != null">
        #{lreportmsg,jdbcType=VARCHAR},
      </if>
      <if test="toblogid != null">
        #{toblogid,jdbcType=INTEGER},
      </if>
      <if test="fromuid != null">
        #{fromuid,jdbcType=INTEGER},
      </if>
      <if test="sendtime != null">
        #{sendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="lreporttype != null">
        #{lreporttype,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER,typeHandler=cn.wangjing921.custenum.baseEnum.IBaseEnumHandler},
      </if>
      <if test="returnMsg != null">
        #{returnMsg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.wangjing921.domain.po.Lreport">
    update lreport
    <set>
      <if test="lreportmsg != null">
        lreportmsg = #{lreportmsg,jdbcType=VARCHAR},
      </if>
      <if test="toblogid != null">
        toblogid = #{toblogid,jdbcType=INTEGER},
      </if>
      <if test="fromuid != null">
        fromuid = #{fromuid,jdbcType=INTEGER},
      </if>
      <if test="sendtime != null">
        sendtime = #{sendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="lreporttype != null">
        lreporttype = #{lreporttype,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        `state` = #{state,jdbcType=INTEGER,typeHandler=cn.wangjing921.custenum.baseEnum.IBaseEnumHandler},
      </if>
      <if test="returnMsg != null">
        return_msg = #{returnMsg,jdbcType=VARCHAR},
      </if>
    </set>
    where lreportid = #{lreportid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.wangjing921.domain.po.Lreport">
    update lreport
    set lreportmsg = #{lreportmsg,jdbcType=VARCHAR},
        toblogid = #{toblogid,jdbcType=INTEGER},
        fromuid = #{fromuid,jdbcType=INTEGER},
        sendtime = #{sendtime,jdbcType=TIMESTAMP},
        lreporttype = #{lreporttype,jdbcType=INTEGER},
        `state` = #{state,jdbcType=INTEGER,typeHandler=cn.wangjing921.custenum.baseEnum.IBaseEnumHandler},
        return_msg = #{returnMsg,jdbcType=VARCHAR}
    where lreportid = #{lreportid,jdbcType=INTEGER}
  </update>
</mapper>